<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtP1O_ekKm2UDLc7TRcaX3rEz3RRNrPw4</string>
	<key>GCM_SENDER_ID</key>
	<string>648087513665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.miniProject9ach.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-mini-project-824fb</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-mini-project-824fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648087513665:ios:32501292536ca587c3b4c0</string>
</dict>
</plist>